body{
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 100%;

}
.mainNav{
background-color: #2C3E50;


}
.nvb.menu.navbar-toggle:hover{background-color: #18bc9c;}
#li li a{
	color:#fff;
	font-size: 14px;
	font-weight: bold;
}
.navColor{

background-color: #2C3E50;

};
.navbar-header{
	width: 100%
}

.navbar-default .navbar-nav>.active>a{

  background-color: #18bc9c;
}
.navbar-toggle{

	width: 27%;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
.logoTxt:hover{
  color: red;
}

#li li a:hover { 
   color: #18BC9C;
}

.cnf{
	padding-top: 70px;
	background-color:#18bc9c;
	height: 580px;


}
.profile{
	margin:20px auto;
	position: relative;


}
.h2Img{
color: #fff;
text-align: center;
font-size: 5.2vw;
font-weight: bolder; 



}
.h3Img{
	color: #fff;
text-align: center;
font-size: 2em;

}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

#portfolio{

	background-color: #fff;
}
.h2port{
text-align: center;
font-size: 5em;
font-weight: bolder;
color: #2C2E50;

}
.h4port{
text-align: center;
font-size: 2em;
font-weight: bolder;
color: #2C2E50;

}
hr.p.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.p.star-light:after,
hr.p.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.p.star-light {
  border-color:#2C3E50;
}
hr.p.star-light:after {
  background-color: #fff;
  color: #2C3E50;
}
hr.p.star-primary {
  border-color: #2C3E50;
}
hr.p.star-primary:after {
  background-color: #fff;
  color: #2C3E50;
}

.img11{
	width: 100%;
	max-width: 370px;
	display: inline-block;

  margin: 0 0 15px;
  right: 0;
}
.img1{

  margin: 0 0 15px;
  right: 0;
  text-align: center;

}


#about{

	background-color: #18bc9c;
	margin-top:50px; 
	font-size: 100%;

}

.h2about{
color: #fff;
text-align: center;
margin-top: 90px;
font-size: 5em;
font-weight: bolder; 



}
hr.about.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.about.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.about.star-light {
  border-color: white;
}
hr.about.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.txtabout{
	color: #fff;
	font-size: 2em;
	text-transform: lowercase;
}
.txt1about{

	color: #fff;
	font-size: 2em;
	text-transform: lowercase;
}
.download{
	border: 2px solid #fff;
	 color: #fff;
	 height: 45px;
	}
	.download:hover{
		background-color: #fff;
	}

#contact{

	background-color: #fff;

}
.caption>placeholder{
	font-size: 100px;
	color: lightgray;
	text-transform: capitalize;


}
.btn-success:visited{
	background-color: #18BC9C;

}
.btn-success{background-color: #18BC9C;
}

.btn-success:active{background-color: green;}
.btn-success:hover{
	background-color: #18BC9C;
}
.send{
margin-bottom: 100px;

}
.caption{
	font-size: 20px;
	color: black;


}
#textarea {
    border: none;
    overflow: auto;
    outline: none;
    height: 50px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.socialdiv{

	color: #fff;
	padding-top: 40px;

	font-weight: bold;

}
.footer-col{
text-align: center;

}
.socialIcon li{
	border: 2px solid #fff;
	font-size: 20px;
	height: 48px;
	width: 48px;
	border-radius: 360px;
	margin-left: 10px;
    margin-top: 28px;
}

.socialIcon li a{
	color: #fff;
}



.socialIcon li a i{
	color: #fff;
	padding-top: 12px;
	padding-left: 3px;
}
.f1{

	color: #fff;
	margin-top: 40px;
	font-size: 17px;
	text-transform: none;
}


.f2{height: 70px;
 margin-top: 40px;
 background-color: #233140;
text-align: center;
color: #fff;
font-size: 13px;
padding-top: 24px;
text-transform: capitalize;
word-spacing:1px;}
#footer{

	background-color: #2C3E50;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
 background-color: #2B3E50;
border-color:#2C3E50;
}
.scroll-top .btn:focus {
  outline: none;
}

.zone {
  
    cursor:pointer;
  
    color:#fff;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

 